body{
  background-color: rgb(1, 1, 26);
  color: rgb(255, 255, 255);
}

h1{
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 10;
  font-weight: bold;
  line-height: 60px;
  padding: 0;
}

.stopwatch{
  display: grid;
  justify-items: center;
  grid-row-gap: 25px;
  width: 100%;
}

.square{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: monospace;
    
  height: 100px;
  width: 400px;
    
  border: 5px solid white;
  border-radius: 20%;
}
  
button{
  background: transparent;
  border: none; 
  padding: 30;
  cursor: grabbing;
  background-size: 70px 70px;
}

.controls {
  display: flex;
  width: 100px;
  justify-content: space-evenly;
}

#playButton{
  margin: 10px 5px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(1, 1, 75);
  background: white;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
}

#pauseButton{
  margin: 10px 5px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(1, 1, 75);
  background: white;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
}

#resetButton{
  margin: 10px 5px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(1, 1, 75);
  background: white;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
}

footer{
  text-align: right;
  margin-top: 140px;
  margin-right: 20px;
  margin-bottom: 0;
}
